@model MVC0608.Models.BookData

@{
    ViewBag.Title = "Index";   
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>查詢書籍</h2>
    @using (Html.BeginForm("Index", "BookData", FormMethod.Post, new { id = "Form1" }))
    {
    <div class="form-horizontal" style="vertical-align:middle;">
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Book_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Book_ID, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Book_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Book_Name, new { @class = "form-control" , id ="123"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Class_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Book_Class_Name, new { @class = "form-control", id = "Book_Class_Name", style = "width: 30%;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Keeper, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Book_Keeper, new { @class = "form-control", id = "Book_Keeper", style = "width: 30%;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Book_Status, new { @class = "form-control", id = "Book_Status", style = "width: 30%;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="submit" value="查詢" id="submit" class="btn btn-default" />
                <input type="reset" value="清除" class="btn btn-default" onclick="javascript:window.location='@Url.Action("Index")'"/>
                <input type="button" value="新增" class="btn btn-default" id="insert" />
            </div>
        </div>
    </div>
        <div id="grid"></div>
    }
    <div class="form-group" id="window" style="display: none">
        <form id="insert_form">
            <ul class="fieldlist" style="list-style-type:none">
                <li style="display: none">
                    @Html.TextBoxFor(model => model.Book_ID, new { @class = "form-control" , required = "required", validationmessage = "這是必填欄位" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Book_Name, htmlAttributes: new { @class = "require", style = "text-align: left" })
                    @Html.TextBoxFor(model => model.Book_Name, new { @class = "form-control" , required = "required", validationmessage = "這是必填欄位" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Book_Author, htmlAttributes: new { @class = "require", style = "text-align: left" })
                    @Html.TextBoxFor(model => model.Book_Author, new { @class = "form-control" , required = "required", validationmessage = "這是必填欄位" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Book_Publisher, htmlAttributes: new { @class = "require", style = "text-align: left" })
                    @Html.TextBoxFor(model => model.Book_Publisher, new { @class = "form-control" , required = "required", validationmessage = "這是必填欄位" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Book_Note, htmlAttributes: new { @class = "require", style = "text-align: left" })
                    @Html.TextAreaFor(model => model.Book_Note, new { @class = "form-control" , required = "required", validationmessage = "這是必填欄位" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Book_BoughtDate, htmlAttributes: new { @class = "require", style = "text-align: left" })<br>
                    @Html.TextBoxFor(model => model.Book_BoughtDate, new { @class = "form-control", id = "Book_BoughtDate2", required = "required", validationmessage = "這是必填欄位", style = "width:70%;padding-right: 3px;" })
                </li>
                <li>
                    @Html.LabelFor(model => model.Book_Class_ID, htmlAttributes: new { @class = "require", style = "text-align: left" })<br>
                    @Html.TextBoxFor(model => model.Book_Class_ID, new { @class = "form-control", id = "Book_Class_Name2", required = "required", validationmessage = "這是必填欄位", style = "width:70%;padding-right: 3px;" })
                </li>
                <li name="hidden" id="hide1">
                    @Html.LabelFor(model => model.Book_Status, htmlAttributes: new { @class = "require", style = "text-align: left" })<br>
                    @Html.TextBoxFor(model => model.Book_Status, new { @class = "form-control", id = "Book_Status2", name = "Book_Status", required = "required", validationmessage = "這是必填欄位", style = "width:70%;padding-right: 3px;" })
                </li>
                <li name="hidden" id="hide2">
                    @Html.LabelFor(model => model.Book_Keeper, htmlAttributes: new { @class = "require", style = "text-align: left" })<br>
                    @Html.TextBoxFor(model => model.Book_Keeper, new { @class = "form-control", id = "Book_Keeper2", name = "Book_Keeper", required = "required", validationmessage = "這是必填欄位", style = "width:70%;padding-right: 3px;" })
                </li>
                <li>
                    <input type="button" value="儲存新增" class="btn btn-primary" id="save" />
                    
                </li>

            </ul>
        </form>
    </div>
    
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "Post",
                url: "/BookData/Search",
                dataType: "json",
                success: function (response) {
                    Grid(response);
                }, error: function (error) {
                    alert("系統發生錯誤");
                }
            });

            $('#submit').click(function () {
                $.ajax({
                    type: "Post",
                    url: "/BookData/Search",
                    data: $('#Form1').serialize(),
                    dataType: "json",
                    success: function (response) {
                        $("#grid").data("kendoGrid")
                            .dataSource
                            .data(response);
                    }, error: function (error) {
                        alert("系統發生錯誤");
                    }
                });
                return false;
            });

            $('#save').click(function () {
                console.log('enter');
                $('#Book_Status2').val("A");
                $('#Book_Keeper2').val(" ");
                    console.log('enter1');
                    $.ajax({
                        type: "Post",
                        url: "/BookData/Insert",
                        data: $('#insert_form').serialize(),
                        dataType: "json",
                        success: function (response) {
                            $("#grid").data("kendoGrid")
                                .dataSource
                                .add(response);
                            alert("新增成功");
                            location.reload();
                        }, error: function (error) {
                            alert("系統發生錯誤");
                        }
                    });
                    $("#window").data('kendoWindow').close();
                    return false;
                
            });

            $('#insert').click(function () {
                $('#insert_form').trigger("reset");
                $('#hide1').hide();
                $('#hide2').hide();
                $("#Book_BoughtDate2").kendoDatePicker({
                    value: new Date(),
                    format: "yyyy/MM/dd"
                });
                $("#window").kendoWindow({
                    width: "500px",
                    title: "新增書籍",
                    visible: false,
                    modal: true,
                    actions: ["Pin", "Minimize", "Maximize", "Close"]
                });
                var popup = $("#window").data('kendoWindow');
                popup.open();
                popup.center();
            });


            $("#Book_Class_Name , #Book_Class_Name2").kendoDropDownList({
                dataTextField: "Book_Class_Name",
                dataValueField: "Book_Class_ID",
                optionLabel: "請選擇...",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/BookData/Book_Class",
                        }
                    }
                }
            });


            $("#Book_Status, #Book_Status2").kendoDropDownList({
                dataTextField: "Book_Status_Name",
                dataValueField: "Book_Status",
                optionLabel: "請選擇...",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/BookData/Book_Status",
                        }
                    }
                }
            });

            $("#Book_Keeper , #Book_Keeper2").kendoDropDownList({
                dataTextField: "Book_Keeper_EName",
                dataValueField: "Book_Keeper",
                optionLabel: "請選擇...",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/BookData/Book_Keeper",
                        }
                    }
                }
            });

        });
        function Grid(dataSource) {
            $("#grid").kendoGrid({
                dataSource: {
                    data: dataSource,
                    pageSize: 20
                },
                pageable: {
                    input: true,
                    numeric: false
                },
                sortable: true,
                columns: [
                    {
                        hidden: true,
                        field: "Book_ID",
                        title: "書籍編號",
                        width: 80
                    },
                    {
                        field: "Book_Class_Name",
                        title: "書籍分類",
                        width: 100
                    }, {
                        field: "Book_Name",
                        title: "書名",
                        width: 200
                    }, {
                        field: "Book_BoughtDate",
                        title: "購書日期",
                        format: "{0: yyyy-MM-dd}",
                        width: 100
                    }, {
                        field: "Book_Status_Name",
                        title: "書籍狀態",
                        width: 100
                    }, {
                        field: "Book_Keeper_EName",
                        title: "借閱人",
                        width: 100
                    },{
                        command: [{
                            text: "刪除",
                            click: Delete
                        }],
                        width: 80
                    }]
            });
        };

        function Delete(e) {
            var r = confirm("確認刪除?");
            if (r == true) {
                var dataItem = this.dataItem($(e.target).closest("tr"));
                //console.log(typeof(dataItem.Book_ID));
                $.ajax({
                    type: "POST",
                    url: "/BookData/Delete",
                    data: "BookId=" + dataItem.Book_ID,
                    dataType: "json",
                    success: function (response) {
                        e.preventDefault();
                        $("#grid").data("kendoGrid").dataSource.remove(dataItem);
                        console.log(response);
                        alert("刪除成功");
                    }, error: function (error) {
                        alert("系統發生錯誤");
                    }
                });
                return false;
            }
            else {
                return false;
            }
        };
        

    </script>
</body>
</html>

